

.listItem {
	display: flex; 
	flex-direction: column; 
}

.ideaImg {
	width: 35px; 
	height: 35px; 
}

.ideaRow {
	display: flex;
}

.ideaImgs {
	display: flex; 
	justify-content: flex-end;
}

.itemTitle {
	display: flex; 
	flex-grow: 3; 
}

.defaultList {
	list-style:none;
    padding-left:0;
}
